<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
    <meta name="format-detection" content="telephone=no,email=no,date=no,aItemress=no">
    <title></title>
    <!-- api样式 -->
    <link rel="stylesheet" type="text/css" href="../../css/api.css" />
    <!-- aui样式 -->
    <link rel="stylesheet" type="text/css" href="../../css/aui.css" />
    <link rel="stylesheet" type="text/css" href="../../css/aui-skin.css" />
    <!-- 项目通用样式 -->
    <link rel="stylesheet" type="text/css" href="../../css/tea.css" />
    <style type="text/css">

        /*flex布局垂直居中显示*/
        .flexcenter{
            -webkit-align-items: center !important;
            align-items: center !important;
        }
        .aui-list{
            background-color: transparent;
        }
        .widthAuto{
            width: auto !important;
            padding: 0 !important;
        }
        .warpPadding{
            width: auto !important;
            padding: 0rem 0.75rem !important;
        }
        ul li{
            background-image: none !important;
        }
    </style>
</head>
<body>
    <div id="app" v-cloak>
        <ul v-if="list.length" class="aui-list aui-media-list aui-list-noborder">
            <li v-for="(value,index) in list" class="aui-list-item aui-padded-0 aui-margin-b-5" >
                <div class="aui-media-list-item-inner" tapmode @click="checked(value,index)">
                    <div class="aui-list-item-media flexcenter warpPadding">
                        <span class="aui-radio" :class="on == value.addrid ? 'aui-checked' : '' " style="width: 1rem;height: 1rem"></span>
                    </div>
                    <div class="aui-list-item-inner aui-padded-t-15 aui-padded-b-15 aui-padded-r-0">
                        <div class="aui-list-item-text aui-margin-b-5">
                            <div class="aui-list-item-title tea-text-title" :class="on == value.addrid ? 'tea-text-blue tea-font-weight-bold' : '' ">{{ value.name }}  {{ value.tel.replace(/^(\d{3})(\d{4})(\d{4})$/, "$1 $2 $3") }}</div>
                        </div>
                        <div class="aui-list-item-text">
                            <div class="aui-list-item-title aui-font-size-16 tea-text-title">{{ value.region +' '+value.detail }}</div>
                        </div>
                    </div>
                    <div class="aui-list-item-media flexcenter aui-margin-r-15 widthAuto" tapmode @click.stop="editor(value)">
                        <span class="aui-iconfont tea-icon-editor aui-font-size-16"></span>
                    </div>
                </div>
            </li>
        </ul>
        <div v-else>暂无常用地址，快去添加地址吧~</div>
    </div>
</body>

<script type="text/javascript" src="../../script/api.js" ></script>
<!-- ajax相关 -->
<script type="text/javascript" src="../../script/conn.js"></script>
<!-- 消除300毫秒延迟 -->
<script type="text/javascript" src="../../script/fastclick.min.js"></script>
<!-- JavaScript模板引擎 -->
<script type="text/javascript" src="../../script/vue.min.js"></script>
<!-- 项目通用函数库 -->
<script type="text/javascript" src="../../script/tea.js"></script>
<!-- HTML模板 -->
<script type="text/template" id="template">
</script>

<script type="text/javascript">

/**********************************声明全局变量**********************************/
// 声明DOM对象
var dom = {}, vm = null;
/*vm = new Vue({
    el: '#app',
    data: {
        list:[
            {name:'马薇薇',tel:'15736883295',address:'广西壮族自治区 北海市阳光大道1016号B座108'},
            {name:'马薇薇',tel:'15736883295',address:'广西壮族自治区 北海市阳光大道1016号B座108'}
        ],
        on: 0,
    },
    methods: {
        checked: function(){

        }
    },
    computed: {

    }
})*/
/**********************************apiready**********************************/
apiready = function(){

    // 初始化变量
    init();

};

/**********************************初始化变量**********************************/
function init(){

    dom = {
    };

    vm = new Vue({
        el: '#app',
        data: {
            list:[],
            on: api.pageParam.addrid ? api.pageParam.addrid : 0,
        },
        methods: {
            checked: function(value){
                vm.on = value.addrid;
                checkOn(value);
            },
            editor: function(value){
                api.openWin({
                    name: 'address_add_win',
                    url: './address_add_win.html',
                    pageParam: {
                        value: value,
                        origin: api.pageParam.origin
                    }
                });
            }
        },
        computed: {

        }
    })
    //获取列表数据
    getData();
    // 初始化模块
    initModule();

    // 初始化监听
    initEventListener();

};

/**********************************初始化模块**********************************/
function initModule(){



}

/**********************************初始化监听**********************************/
function initEventListener(){
    /*api.addEventListener({
        name: 'saveOk'
    }, function (ret, err) {
        getData();
    });*/
    /*api.addEventListener({
        name: 'editorOk'
    }, function (ret, err) {
        getData();
    });*/
}

/**********************************ajax请求数据**********************************/
function getData(){
    tea.showp('数据加载中...');
    api.ajax({
        url: website + 'exempt_api.php?action=addrlist',
        method: 'post',
        timeout: 30,
        data: {
            values: {
                ID: $api.getStorage('ID'),
            },
        }
    }, function (ret, err) {
        api.hideProgress();
        if(!ret) return false;
        if(ret.succ == '1'){
            vm.list = ret.data;
            return true;
        }
        api.toast({
            msg: ret.msg,
            duration: 2000,
            location: 'middle'
        });
    });

}

/**********************************DOM响应**********************************/

/**********************************其他函数**********************************/
function checkOn(value,index){
    api.sendEvent({
        name: 'selectAddress',
        extra: {address: value}
    });
    api.closeWin();
}
</script>
</html>