<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
    <meta name="format-detection" content="telephone=no,email=no,date=no,aItemress=no">
    <title></title>
    <!-- api样式 -->
    <link rel="stylesheet" type="text/css" href="../../css/api.css" />
    <!-- aui样式 -->
    <link rel="stylesheet" type="text/css" href="../../css/aui.css" />
    <link rel="stylesheet" type="text/css" href="../../css/aui-skin.css" />
    <!-- 小马哥通用样式 -->
    <link rel="stylesheet" type="text/css" href="../../css/tea.css" />
    <style type="text/css">

        footer {
            margin: 2.5rem 1.125rem;
        }
        .aui-btn-block {
            color: #fff;
            background-color: #ed7474;
            height: 2.5rem;
            line-height: 2.5rem;
            border-radius: 1.25rem;
        }

    </style>
</head>
<body>
    <div id="app" v-cloak>
        <ul class="aui-list aui-form-list">
            <li class="aui-list-item tea-bg-default">
                <div class="aui-list-item-inner">
                    <div class="aui-list-item-title" style="height:2.625rem; line-height:2.625rem">
                        设置新登录密码
                    </div>
                </div>
            </li>
            <li class="aui-list-item">
                <div class="aui-list-item-inner">
                    <div class="aui-list-item-input">
                        <input id="password" type="password" placeholder="新登录密码，6-16位字符" maxlength="16" v-model="password">
                    </div>
                </div>
            </li>
            <li class="aui-list-item">
                <div class="aui-list-item-inner">
                    <div class="aui-list-item-input">
                        <input id="repassword" type="password" placeholder="请再次输入密码" maxlength="16" v-model="repassword" @keyup.enter="submit">
                    </div>
                </div>
            </li>
        </ul>
        <footer>
            <div class="aui-btn aui-btn-block" :class="{'tea-active' : isOK}" @click="sumbit()">提交</div>
        </footer>
    </div>
</body>

<script type="text/javascript" src="../../script/api.js" ></script>
<!-- aui toast -->
<!-- <script type="text/javascript" src="../../script/aui-toast.js"></script> -->
<!-- 小马哥通用函数库 -->
<script type="text/javascript" src="../../script/tea.js"></script>
<!-- ajax相关 -->
<script type="text/javascript" src="../../script/conn.js"></script>
<!-- JavaScript模板引擎 -->
<script type="text/javascript" src="../../script/vue.min.js"></script>
<!-- md5加密 -->
<script type="text/javascript" src="../../script/md5.min.js"></script>
<!-- HTML模板 -->
<script type="text/template" id="template">
</script>

<script type="text/javascript">

/**********************************声明全局变量**********************************/
// 声明DOM对象
var dom = {}, vm = null;

/**********************************apiready**********************************/
apiready = function(){

    vm = new Vue({
        el: '#app',
        data: {
            tel: api.pageParam.tel,
            code: api.pageParam.code,
            password: '',
            repassword: '',
            isOK: false
        },
        methods: {
            sumbit: function(){
                // 验证表单
                var errorMsg = vm.check();
                if (vm.password !== vm.repassword) {
                    errorMsg = '两次密码不一致';
                }
                if (errorMsg) {
                    api.toast({
                        msg: errorMsg,
                        duration: 2000,
                        location: 'middle'
                    });
                    return false;
                }
                api.showProgress({
                    style: 'default',
                    animationType: 'fade',
                    title: '努力加载中...',
                    text: '请稍候...',
                    modal: true
                });
                api.ajax({
                    url: website + 'user_api.php?action=forgot',
                    method: 'post',
                    timeout: 30,
                    data: {
                        values: {
                            tel: vm.tel,
                            smscode: vm.code,
                            password: vm.password
                        }
                    },
                    dataType: 'json',
                    returnAll:false
                },function(ret,err){
                    api.hideProgress();
                    if (ret) {
                        switch (ret.succ) {
                            case 1: 
                                api.toast({
                                    msg: '密码重置成功',
                                    duration: 2000,
                                    location: 'middle'
                                });
                                // 延时关闭，让用户看清提示文字
                                setTimeout(closeWin,2000);
                                function closeWin(){
                                    api.closeToWin({
                                        name: 'login_win'
                                    });
                                }
                                break;
                            default:
                                api.toast({
                                    msg: ret.msg,
                                    duration: 2000,
                                    location: 'middle'
                                });
                        }
                    } else {
                        tea.toast('ajax');
                    };
                });


            },
            check: function(type){
                var rule = new tea.checkRule();
                rule.add(vm.password, [{
                    condition: 'isNoEmpty',
                    errorMsg: '密码不可为空'
                },{
                    condition: 'minLength:6',
                    errorMsg: '密码长度不够'
                }]);
                var errorMsg = rule.start();
                return errorMsg;
            }
        },
        watch: {
            password: {
                handler: function (val, oldVal) {
                    if(vm.password.length > 5 && vm.repassword.length >5 && vm.password == vm.repassword){
                        vm.isOK = true;
                    }
                    else {
                        vm.isOK = false;
                    }
                },
                deep: true
            },
            repassword: {
                handler: function (val, oldVal) {
                    if(vm.password.length > 5 && vm.repassword.length >5 && vm.password == vm.repassword){
                        vm.isOK = true;
                    }
                    else {
                        vm.isOK = false;
                    }
                },
                deep: true
            }
        }
    })
    // 初始化
    init();

};

/**********************************初始化变量**********************************/
function init(){

    dom = {
        password: $api.byId('password')
    };

    updateHTML();

    // 初始化模块
    initModule();

    // 初始化监听
    initEventListener();

};

/**********************************初始化模块**********************************/
function initModule(){


    var UIInput = api.require('UIInput');
    openInput('password', '新登录密码，6-16位字符', true);

    function openInput(type, placeholder, focus){
        var el = $api.byId(type);
        var offset = $api.offset(el);
        UIInput.open({
            rect: {
                x: offset.l,
                y: offset.t + 1,
                w: offset.w,
                h: offset.h - 2
            },
            styles: {
                bgColor: '#fff',
                size: 16,
                color: '#333',
                placeholder: {
                    color: '#ccc'
                }
            },
            autoFocus: focus,
            maxRows: 1,
            placeholder: placeholder,
            keyboardType: 'default',
            inputType: 'password',
            fixedOn: api.frameName
        }, function(ret, err) {
            if (ret) {
                UIInput.value(function(ret, err) {
                    if (ret) {
                        if (ret.msg.length > 16) {
                            api.toast({
                                msg: '达到长度上限',
                                duration: 2000,
                                location: 'middle'
                            });
                            UIInput.value({
                                msg: ret.msg.substr(0,16)
                            });
                        }
                        vm[type] = ret.msg;
                    }
                });
            }
        });
    }


}

/**********************************初始化监听**********************************/
function initEventListener(){



}


/**********************************更新HTML**********************************/
function updateHTML(){



}

/**********************************DOM响应**********************************/

/**********************************其他函数**********************************/

</script>
</html>